
/* PACE Loader*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #ec6952;
  position: fixed;
  z-index: 2040;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.pace-inactive {
  display: none;
}


/*---------------------------------------------------------------------*/
/*  1. GLOBAL STYLES
/*---------------------------------------------------------------------*/
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f2f4f4;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  color: #222222;
  overflow-x: hidden;
}
a {
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 15px;
}
.push {
  margin-left: 0px;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
@media (min-width: 992px) {
  .push.pushed-left {
    margin-left: 250px;
  }
}
@media (min-width: 992px) {
  .push.pushed-right {
    margin-left: -250px;
  }
}
.section {
  background-color: #f2f4f4;
}
.section > .section-inner {
  position: relative;
}
.section > .section-inner .section-content {
  padding-top: 50px;
  padding-bottom: 60px;
}
@media (min-width: 1024px) {
  .section > .section-inner .section-content {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}
.section > .section-inner .section-content .section-title {
  color: #222;
  text-transform: uppercase;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .section > .section-inner .section-content .section-title {
    padding-bottom: 60px;
  }
}
.section > .section-inner .section-content .section-title > .main-title {
  font-size: 35px;
  font-weight: 300;
}
@media (min-width: 480px) {
  .section > .section-inner .section-content .section-title > .main-title {
    font-size: 45px;
  }
}
@media (min-width: 600px) {
  .section > .section-inner .section-content .section-title > .main-title {
    font-size: 55px;
  }
}
@media (min-width: 768px) {
  .section > .section-inner .section-content .section-title > .main-title {
    font-size: 60px;
  }
}
.section > .section-inner .section-content .section-title > .sub-title {
  font-size: 20px;
  font-weight: 300;
}
@media (min-width: 480px) {
  .section > .section-inner .section-content .section-title > .sub-title {
    font-size: 25px;
  }
}
.section > .section-inner .section-content .section-line {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #222;
}
.section.section-bgimage-yes {
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 1280px) {
  .section.section-bgimage-yes {
    background-attachment: fixed;
  }
}
.section.section-bgimage-yes > .section-inner > .section-overlay {
  content: '';
  position: absolute;
  background-color: #000;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  zoom: 1;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
}
.section.section-parallax-yes > .section-inner > .section-overlay {
  content: '';
  position: absolute;
  background-color: #000;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  zoom: 1;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
}
.section.section-parallax-yes > .section-inner > .parallax .bcg {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 1280px) {
  .section.section-parallax-yes > .section-inner > .parallax .bcg {
    background-attachment: fixed;
  }
}


/*---------------------------------------------------------------------*/
/*  2. ANIMATION DELAY
/*---------------------------------------------------------------------*/
.delayp1 {
  animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-delay: .1s;
  -o-animation-delay: .1s;
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
}
.delayp2 {
  animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-delay: .2s;
  -o-animation-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -o-transition-delay: .2s;
}
.delayp3 {
  animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -o-animation-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
}
.delayp4 {
  animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  -o-animation-delay: .4s;
  transition-delay: .4s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
}
.delayp5 {
  animation-delay: .5s;
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -o-animation-delay: .5s;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
}


/*---------------------------------------------------------------------*/
/*  3. PAGE LOADER
/*---------------------------------------------------------------------*/
#page-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
#page-loader .preload {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;
}


/*---------------------------------------------------------------------*/
/*  4. TOP NAVBAR
/*---------------------------------------------------------------------*/
.navbar.navbar-fixed-top {
  position: fixed;
  margin: 0;
  border: 0;
  min-height: 60px;
  background-color: #222;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
}
@media (min-width: 768px) {
  .navbar.navbar-fixed-top {
    -webkit-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
    -moz-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
    transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
  }
}
.navbar.navbar-fixed-top .navbar-brand {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  letter-spacing: 0.1em;
}
.navbar.navbar-fixed-top .navbar-brand:hover {
  color: #fff;
}
.navbar.navbar-fixed-top .navbar-toggle {
  margin-top: 12px;
  background-color: #1abc9c;
}
.navbar.navbar-fixed-top .navbar-nav > li > a {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top .navbar-nav > li > a {
    height: 60px;
    line-height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.navbar.navbar-fixed-top .navbar-nav > li > a:hover {
  color: #1abc9c;
  background-color: #222;
}
.navbar.navbar-fixed-top .navbar-nav > li > a > i.fa-angle-down {
  padding-left: 2px;
}
.navbar.navbar-fixed-top .navbar-nav > li.active a,
.navbar.navbar-fixed-top .navbar-nav > li.active a:hover {
  background-color: #1abc9c;
  color: #fff;
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top .navbar-nav > li.active a,
  .navbar.navbar-fixed-top .navbar-nav > li.active a:hover {
    color: #fff;
    background-color: #1abc9c;
    background-repeat: repeat;
  }
}


/*---------------------------------------------------------------------*/
/*	5. Left Navbar	
/*---------------------------------------------------------------------*/

.pace-done .navbar-static-side, .pace-done .nav-header, .pace-done li.active, .pace-done #page-wrapper, .pace-done .footer {
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

@media (min-width: 768px){
	.navbar-static-side {
		z-index: 1030;
		position: absolute;
		width: 235px;
	}
}

.navbar-default {
	background-color: transparent;
	border-color: #2f4050;
}

.nav>li {
	position: relative;
	display: block;
}

.nav-header {
	padding: 33px 25px;
}

.clear {
	display: block;
	overflow: hidden;
}

body.mini-navbar.fixed-sidebar .profile-element, .block {
	display: block !important;
}

.m-t-xs {
	margin-top: 5px;
}

.m-t-sm {
	margin-top: 20px;
}

.m-b-sm{
 	margin-bottom: 20px;
 	}

.m-t-md {
	margin-top: 30px;
}

.m-t-lg {
	margin-top: 50px;
}

.width-40 {
	width: 40%;
}

.nav > li.active {
	/* border-left: 4px solid #534358; */
	background: #423546;
	color:white;
	font-weight:bold;
}

.nav > li.active > a {
	color: white;
	background: #423546;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #514156;
    color:white;
}

.nav > li > a{
	color:#888;
}
.nav-header a {
	color: #888888;
}

.navbar-default .nav > li > a:hover, {
	background-color: #423546;
	color: white;
}

.dropdown-menu{
	z-index:1040;
}
/*------------------------------------------------------------------*/
/* 6. Main Content Area 
/*------------------------------------------------------------------*/

@media (min-width: 768px){
	#page-wrapper {
		position: inherit;
		margin: 60px 0 0 235px;
		min-height: 1200px;
	}
}

#page-wrapper {
	padding: 0 15px;
	min-height: 700px;
	position: relative !important;
	box-shadow: 0px 0px 5px 1px #ddd;
	z-index:1031;
}

.gray-bg {
	background-color: #f3f3f4;
}
.wrapper-content {
	padding: 20px 10px 40px;
	min-height:900px;
}

.form-title{
	border-bottom:1px solid #ddd;
}

.form-title h2{
	color:#333;
}

textarea{
	resize:none;
}

.progress-mini, .progress-mini .progress-bar {
	height: 5px;
	margin-bottom: 0;
}


.p-l-sm{
	padding-left:20px;
}

.p-r-sm{
	padding-right:20px;
}

#faq h3{
	text-transform:none;
	font-size:15px;
}

h3.form-title{
	padding:10px;
	padding-left:0px;
}

.fundcard{
	position:relative;
	background-color:#fff;
	border:1px solid #ccc;
	padding:10px;
	box-shadow:0px 1px 1px 0px #eee;
	margin-bottom:20px;
	min-height:270px;
	border: none !important;
}

.fundcard-invest-button{
	position:absolute;
	padding:10px;
	bottom:0px;
	left:0px;
	right:0px;
}

.fundcard .monitor-icon, .holding-container .monitor-icon, .order-container .monitor-icon{
	position:absolute;
	right:10px;
	top:10px;
	font-size:15px;
	cursor:pointer;
}

.fundcard .fund-logo{
	text-align:center;
}
.fundcard .fund-logo img{
	height:40px;
	width:auto;
	margin-top:20px;
	margin-bottom:20px;
}

.fundcard .fund-name{
	height:80px;
	text-align:left;
	font-size:13.5px;
	overflow:auto;
	font-weight: 600 !important;
}

.fundcard .min-investment, .fundcard .min-sip{
	font-size:12px;
}

.mf-autocomplete{
	z-index:1200;
	max-width:400px;
}


.order-box{
	padding:5px 0px;
}

.order-container, .holding-container{
	background-color:#fff;
	border:1px solid #ccc;
	padding:10px 10px;
	box-shadow:0px 1px 1px 0px #eee;
	position:relative;
}
.holding-container h3, .order-container h3{
	font-size:14px;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
	margin-bottom:10px;
}

.transactions{
	display:none;
}

.content-message{
	text-align:center;
	padding-top:100px;
}

.content-message .fa-4x{
	color:#ec6952;
	font-size:140px;
	margin-bottom:20px;
}

ol.faq {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol.faq > li {
  margin: 0;
  padding: 0 0 0 2em;
  list-style-type: none;
  counter-increment: item;
  margin-top:20px;
}

ol.faq > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

a[ng-click]{
	cursor:pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
}

.color-red{
	color:#ec6952;
}

.quote-container{
	padding:10px;
	margin-top:30px;
	border-left:0px !important;
}

.quote-container .quote{
	font-size:22px;
}
.quote-container .quote:before, .quote-container .quote:after, .quote-container .author:before, .quote-container .author:after{
/*	font: normal normal normal 14px/1 FontAwesome;*/
}

.quote-container .quote:before{
/*	content:"\f10d"*/
	content:"\"";
}

.quote-container .quote:after{
/*	content:"\f10e"*/
	content:"\"";
}

.quote-container .author:before{
	content:"  - "
}

.navbar.navbar-fixed-top .navbar-toggle{
	margin-right:0px;
	margin-left:15px;
}

@media screen and (max-width:768px){
	.navbar-default {
		position:fixed;
		top:0px;
		bottom:0px;
		z-index: 10000;
		background-color:#eee;
		box-shadow:0px 0px 1px 1px #888;
	}
	
	#page-wrapper{
		padding-top:60px;
	}
}

.linked-account-box{
	background-color:#fff;
	margin:10px;
	border: 1px solid #ccc;
	padding:5px;
}

.linked-account-actions{
	margin-right:10px;
}

.linked-account-actions>div{
	float:left;
	margin:3px;
	border:2px solid #ec6952;
	border-radius:50%;
	padding:5px;
	width:34px;
	height:34px;
	text-align:center;
}

.linked-account-actions>div>a{
	color:#ec6952;
}

.linked-account-actions>div:hover{
	color:#fff;
	background-color:#ec6952;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.linked-account-actions>div:hover a{
	color:#fff;
}

.dropdown-menu>li>span{
	display: block;
	padding: 3px 20px;
}

.dropdown-menu>li>ul{
	list-style-type:none;
	padding-left:0px;
}

.dropdown-menu .login-as{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.dropdown-menu>li>ul>li>a{
	display: block;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	padding: 3px 20px;
}

.dropdown-menu>li>ul>li>a:focus, .dropdown-menu>li>ul>li>a:hover {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

.linked-account-box.trans{
	opacity:0.4;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.linked-account-box.trans:hover{
	opacity:1;
}

.link-approve-verify{
	display:none;
}

.not-found{
	text-align:center;
	padding:50px;
	font-size:25px;
}

a.icon-button{
	color:#000;
}

.btn-flex {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

  .btn-flex .btn:first-child {
    flex-grow: 1;
    text-align: left;
  }
  
  .nav .open>a.btn-rj{
  	background-color:#e9553b;
  	border-color:#e9553b;
  }
  
#bank-details{
	display:none;
}

.text-lg{
	font-size:25px;
}

.text-md{
	font-size:12px;
}

.kyc-info-dropdown .kyc-info-dropdown-menu.dropdown-menu, .inactive-dropdown .inactive-dropdown-menu.dropdown-menu

{
	z-index:1040;
	border-radius:0px;
	padding:10px;
	left:0px;
	width:230px;
	text-align: justify;
}

.kyc-info-dropdown, .inactive-dropdown{
	cursor:pointer;
}

img.b2b-icon {
	height: 28px;
	margin: 16px 4px;
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 0px;
    background-color:#fff;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 0px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


.upload-panel>div{
	margin-bottom: 30px;
	/* height:300px;
	background-color:#fff;
	border:1px solid #aaa;
	text-align: center;
	padding:30px;
	font-size:30px;
	color:#aaa;
	position:relative;
	cursor:pointer;
	display:table-cell;
	vertical-align:middle; */
}

#backdrop{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:2000;
	display:none;
	overflow:auto;
}

.crop-box{
	text-align:center;
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #fff;
	margin-top:5%;
	background-color:#fff;
}

.control-box{
	display:inline-block;
}

.control-box .btn{
	margin:5px;
	font-size:20px;
}

.aof-preview-image, .cheque-preview-image{
	display:none;
	cursor:pointer;
}


.meter, .clicktoggle{
	text-transform: uppercase;
	font-size:30px;
	display:inline-block;
	margin:20px;
	cursor:pointer;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;  
}

.meter .amount{
	padding:10px;
}

.meter button{
	padding:10px;
	background-color:transparent;
	border:0px;
}

.meter button:hover, .clicktoggle button:hover{
	background-color:#eee;
}

.clicktoggle button{
	padding:10px;
	background-color:transparent;
	border:0px;
}

.clicktoggle select{
	display:none;
}

.fundblock{
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	box-shadow: 0px 1px 1px 0px #eee;
	cursor:pointer;
}

.fund-wrapper{
	margin-bottom:5px;
	position:relative;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;  
}

.big-input {
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align:center;
}

.rangeSlider{
	margin-top:10px;
	margin-bottom:10px;	
}

.inputset{
	margin-bottom:25px;
}

.day-pick .ui-datepicker-header{
	display:none;
}

.day-pick .ui-datepicker-current-day .ui-state-active{
	border:1px solid #ec6952;
	background:#ec6952;
	color:#fff;
	font-weight:bold;
}

.cursor-pointer{
	cursor:pointer !important;
}


.growth-basket .lead{
	font-size:15px !important; 
	font-weight: bold;
}

@media only screen and (min-width:768px){
	.growth-basket{
		max-height:100px;
	}
}

.space{
	margin-top:30px;
	margin-bottom:30px;
}

.missing-funds, .upload-response{
	display:none;
}

.border-remove {
	border: 0px;
}

.center {
    margin: auto;
    padding: 10px;
}

.space-top-large{
	margin-top: 40px;
}

.space-top{
	margin-top: 20px;
}

.space-top-small{
	margin-top: 10px;
}

.holding-container-layout {
  column-count: 2;
  column-gap: 0;
}
.holding-container-layout__panel {
  break-inside: avoid;
  padding: 0px;
}
.holding-container-layout__panel-content {
  padding: 10px;
  border-radius: 0px;
}

@media (max-width: 768px) {
	.holding-container-layout {
	  column-count: 1;
	  column-gap: 0;
	}
	.holding-container-layout__panel {
	  break-inside: avoid;
	  padding: 0px;
	}
	.holding-container-layout__panel-content {
	  padding: 0px;
	  border-radius: 0px;
} 
}

.bs-callout-general{
	margin-left:10px;
	width:100%;
	border: 1px solid lightgray;
}

.btn-group{
	border-radius:0px;
}

.btn{
	border-radius:0px;
}

input, select {
	border-radius:0px !important;
}

.label{
	border-radius: 0px;
}

/* Progress Bar */

#myProgress {
    width: 100%;
    border-radius:10px;
    background-color: lightgrey;
    overflow:hidden
}
#myBar {
    width: 1%;
    height: 5px;
    border-radius:10px;
    background-color: #e9553b;
}

.button:hover, .button:visited, .button:active, .button:focus {
	background-color:white;
	outline:none;
}

.center-img-small {
    margin: auto;
    padding: 10px;
    width: 40%;
}

.potfolio-breakup-container {
    border-radius: 5px;
    padding: 0px;
    overflow: hidden;
}

.equity-segment{
	background: #F9A825;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}

.equity-legend{
	height: 10px;
	width: 10px;
	background: #F9A825;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.largeCap-segment {
	background: #CDDC39;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}

.largeCap-legend{
	height: 10px;
	width: 10px;
	background: #CDDC39;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.midCap-segment {
	background: #FBC02D;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}

.midCap-legend{
	height: 10px;
	width: 10px;
	background: #FBC02D;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.smallCap-segment {
	background: #FFA000;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}

.smallCap-legend{
	height: 10px;
	width: 10px;
	background: #FFA000;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.diversified-segment {
	background: #FFB300;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}

.diversified-legend{
	height: 10px;
	width: 10px;
	background: #FFB300;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.elss-segment {
	background: #90CAF9;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}

.elss-legend{
	height: 10px;
	width: 10px;
	background: #90CAF9;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.index-segment {
	background: #FF8F00;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}

.index-legend{
	height: 10px;
	width: 10px;
	background: #FF8F00;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.sector-segment {
	background: #FB8C00;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}

.sector-legend{
	height: 10px;
	width: 10px;
	background: #FB8C00;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.arbitrage-segment {
	background: #F57C00;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}

.arbitrage-legend{
	height: 10px;
	width: 10px;
	background: #F57C00;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.debt-segment{
	background: #8D6E63;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}

.liquid-segment{
	background: #795548;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}

.balanced-segment{
	background: #FF5722;
	color: white;
	padding:0px;
	height: 60px;
	margin: 0px;
	display:inline-block;
	float:left;
	line-height: 60px;
	font-size: 12px;
}


.balanced-legend{
	height: 10px;
	width: 10px;
	background: #FF5722;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.debt-legend{
	height: 10px;
	width: 10px;
	background: #8D6E63;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.liquid-legend{
	height: 10px;
	width: 10px;
	background: #795548;
	color: white;
	display: inline-block;
	border-radius: 3px;
}

.space-top-small{
	margin-top:10px;
}

.rated-5:before{
	content:'5/5';
}

.rated-4:before{
	content:'4/5';	
}

.rated-3:before{
	content:'3/5';	
}

.rated-2:before{
	content:'2/5';	
}

.rated-1:before{
	content:'1/5';	
}

.rated-0:before{
	content:'NA';
}

.rated-5{
	background-color:#4a934a;
}

.rated-4{
	background-color:#5db85d;
}

.rated-3{
	background-color:#eabc45;
}

.rated-2{
	background-color:#f62607;
}

.rated-1{
	background-color:#f62607;
}

.rated-0{
	background-color:#b9b7b7;
}

.portfolio-rated-5{
	background-color:#4a934a;
}

.portfolio-rated-4{
	background-color:#5db85d;
}

.portfolio-rated-3{
	background-color:#eabc45;
}

.portfolio-rated-2{
	background-color:#f62607;
}

.portfolio-rated-1{
	background-color:#f62607;
}

/* .portfolio-rated-0{
	display:none;
} */

.rated{
	float:right;
	height:25px;
	width:25px;
	line-height:25px;
	text-align:center;
	color:#fff;
}

boxes > .funny-boxes-text > h4 .subscription-plan-heading {
	text-transform: capitalize;
	letter-spacing: 0.1em;
}

.holding-container {
	overflow:hidden;
	padding-bottom:0px;
	min-height:210px;
}

.holding-heading-mh {
	 min-height:30px;
}

.watchlist-fundcard {
	position: relative;
    background-color: #fff;
    height: 300px;
    box-shadow: 0px 1px 1px 0px #eee;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.watchlist-fundcard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.centered {
	width: 50%;
	margin: auto;
	padding: 10px;
	margin-top: 20px;
}

.space-top-large{
	margin-top:40px;
}

/* STICKY STYLE STARTS */

@MEDIA only screen and (max-width: 767px) {

	.badge-container {
		display:none;
		/* padding-bottom:40px; */
		z-index:99999999;
		float:right;
		position:fixed;
		height:auto;
		width:50px;
		bottom:70px;
		right:25px
	}
	
	.sticky {
		background-color: #ec6952;
		position:fixed;
		float:right;
		bottom:20px;
		right:20px;
		width:50px;
		height:50px;
		z-index:999999;
		border-radius: 50%;
		cursor:pointer;
		color: #fff;
		line-height:50px;
		box-shadow: 0px 1px 1px 0px #2d2c2c;
	}
	
	.sticky-small {
		float:right;
		margin-bottom:10px;
		width:40px;
		height:40px;
		z-index:99999;
		border-radius: 50%;
		cursor:pointer;
		color: #fff;
		line-height:35px;
		box-shadow: 0px 1px 1px 0px #2d2c2c;
	}
	
	a.sticky-small.text-center:focus,
	a.sticky-small.text-center:hover{
		color: white;
	}
	
	.arrow {
		color:black;
	}
	
	.popover,
	h3.popover-title {
		color:white;
		background: black;
		font-size:11px;
	}
	
	h3.popover-title {
		font-weight: bold;
		font-size:11px;
	}
}

/* .holding-pop{
	width:
} */

@MEDIA only screen and (min-width: 768px) {
	.badge-container {
		display: none;
	}
	
	.sticky {
		display: none;
	}
	
	.sticky-small {
		display: none;
	}
	
	a.sticky-small.text-center:focus,
	a.sticky-small.text-center:hover{
		display: none;
	}
	
	.arrow {
		display: none;
	}
	
	.popover {
		display: none;
	}
	
}

/* STICKY STYLE ENDS */

.star-rated-5{
	color:#4a934a;
}

.star-rated-4{
	color:#5db85d;
}

.star-rated-3{
	color:#eabc45;
}

.star-rated-2{
	color:#f62607;
}

.star-rated-1{
	color:#f62607;
}

.custom-sipdates {
    width: 40%;
    height: 25px;
    margin-left: 11px;
}

.mutualfund-name{
	color: #6b6b6b;
	cursor:pointer;
	font-size: bold;
}

.mutualfund-name:hover{
	text-decoration: underline;
}

.fundcard:hover .mutualfund-name{
	color: #6b6b6b;
	cursor:pointer;
	font-size: bold;
	text-decoration: underline;
}

.metismenu .arrow {
    float: right;
    line-height: 1.42857;
}

.arrow {
    float: right;
}

/*
 * metismenu - v2.0.2
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu
 *
 * Made by Osman Nuri Okumus
 * Under MIT License
 */
.metismenu .plus-minus,
.metismenu .plus-times {
  float: right;
}
.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}
.metismenu .glyphicon.arrow:before {
  content: "\e079";
}
.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114";
}
.metismenu .fa.arrow:before {
  content: "\f104";
}
.metismenu .active > a > .fa.arrow:before {
  content: "\f107";
}
.metismenu .ion.arrow:before {
  content: "\f3d2";
}
.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0";
}
.metismenu .fa.plus-minus:before,
.metismenu .fa.plus-times:before {
  content: "\f067";
}
.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068";
}
.metismenu .collapse {
  display: none;
}
.metismenu .collapse.in {
  display: block;
}
.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
}

.nav>li>ul>li {
    position: relative;
    display: block;
    background-color: #f3f3f4;
}

.tear {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  border: none;
  -webkit-border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  /* background: #1abc9c; */
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -webkit-transform: rotateZ(135deg)   ;
  transform: rotateZ(135deg)   ;
}

.font-18{
	font-size: 18px;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}

/* .frequency-inputset{
	height: 170px;
	background-color: white;
	padding:10px;
}

.strategy-inputset{
	height: 170px;
	background-color: white;
	padding:10px;
}

.amount-inputset{
	height: 170px;
	background-color: white;
} */

/* .card-robo{
	width:33rem;
	background-color:white;
	height:inherit;
	backkground-color:white;
	border:1px solid lightgray;
	padding:10px;
	border-radius:2px;
} */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height:100px;
    background-color:white;
    margin-top:10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.request-card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* height:auto; */
    background-color:white;
    margin-top:10px;
}

.bck-white{
	background-color:white;
    /* margin-top:10px; */
    margin-bottom: 10px;
}

.card-block {
    padding: 2px 16px;
}

.no-shadow,
.no-shadow:focus,
.no-shadow:active,
.no-shadow:visited{
	outline: 1px;
	box-shadow: none;
}

.robo-amt{
	color: #6b6b6b;
	fint-size: bold;
}

.chart-wrapper {
 	position: absolute;
    padding-bottom: 40%;
    width:100%;
    float:left;
}

.chart-inner {
	position: absolute;
    width: 100%; height: 100%;
}

.no-padding{
	padding:0px;
}

.fundblock {
/*    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.3s;
    background-color:white;
    /* margin-top:10px; */
    border:0px;
}

.fundblock:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.fund-wrapper .fund-details{
	display: none;
    background-color: #fafafa;
    /* border: 1px solid #ccc; */
    border-top: 0px;
    position: relative;
    /* height: 120px; */
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
    /* left: 10px; */
    /* right: 10px; */
    /* z-index: 100000000; */
}

.tabs-container {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color:#fff;
	border:1px solid #eee;
	transition: 0.3s;
}

.tabs-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.f-md{
	font-size: 24px;
}

.tab-li{
	color: #888 !important;
	background-color: white !important;
	border-radius: 0px !important;
}

.tab-li.active {
	color: #888 !important;
	background-color: white !important;
	border-bottom: 2px solid #ec6952 !important;
	border-radius: 0px !important;
}

/* .tab-li:hover {
	color: #888 !important;
	background-color: #fafafa !important;
	border-bottom: 1px solid #ec6952 !important;
	border-radius: 0px !important;
} */

.stats-container{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color:#fff;
	border:1px solid #eee;
	transition: 0.3s;
}

.stats-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.shadow-container{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color:#fff;
	border:1px solid #eee;
	transition: 0.3s;
}

.shadow-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.dark-gray{
	color:#888;
}

.rocket-go{
	position: fixed;
    right: 0px;
    bottom: 30px;
    z-index: 1000000;
    height: 150px;
    width: auto;
    cursor:pointer;
}

@MEDIA only screen and (max-width: 767px) {
	.rocket-go{
		display: none;
	}
}

.cardbox {
	display:block;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 10px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    
    cursor:pointer;
	margin-bottom:20px;
	color:#333;
}

.cardbox:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color:#333;
}



.flex-col-v .cardbox{
	margin-bottom:10px;
}

.cardbox .lead{
	margin-bottom:8px;
}

.no-padding{
	padding:0px !important; 
}

.card-icon-box{
	text-align: center;
	font: 0/0 a;
}

.card-icon-box:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

@media screen and (min-width:768px){

	.flex{
		display:flex;
	}
	.flex-row{
		display:flex;
	}
	
	.flex-col{
		display:flex;
	}
	
	.flex-col-v{
		display:flex;
		flex-direction:column;
	}
	
	.flex-col-v>div{
		padding-bottom:10px;
		flex:1;
		display:flex;
	}
}

.p-r-none{
	padding-right: 0px;
}

.flexi-rated {
	margin-top: 4px;
    width: 30px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: bold;
}

.fundblock-rated {
    width: 30px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: bold;
}

.anchor-fund-name{
	color: black;
	text-decoration: none;
}

.anchor-fund-name:hover{
	color: black;
	text-decoration: underline;
}

.fundblock-lead {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: #ef745f;
}

.p-l-xs{
	padding-left:5px;
}

.flexi-rated-0 {
    line-height: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #b9b7b7;
    content: 'NA';
}

.flexi-rated-1 {
	line-height: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #f62607;
    content: '1'
}

.flexi-rated-2 {
	line-height: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #f62607;
    content: '2';
}

.flexi-rated-3 {
	line-height: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #eabc45;
    content: '3';
}

.flexi-rated-4 {
	line-height: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #5db85d;
    content: '4';
}

.flexi-rated-5 {
	line-height: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #4a934a;
    content: '5';
}

.fund-name{
	font-weight: 600;
}

.theme-text{
	color: #ef745f;
}

.text:hover,
.text:visited, 
.text:active{
	color: #e9553b;
}

.no-margin{
	margin: 0px;
}

.no-margin{
	margin:0px 0px 0px 0px;
}

.bold{
	font-weight:500;
}

.required{
	border-left: 2px solid #F44336;
}

.no-arrows::-webkit-inner-spin-button, 
.no-arrows::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.icon-pencil{
	background: transparent url(../img/pencil2.png) top 7px right 2px no-repeat;
    padding-right: 17px;
}

.search { position: relative; }
.search input { text-indent: 10px;}
/* .search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
} */

.navbar-search{
	font-size: 14px !important;
	background-color:transparent;
	color:white;
	margin-left:50px;
}

.navbar-search:active{
	border-bottom: 2px solid #eee;
}

@media screen and (max-width:992px){
	.hide-xs{
		display:none;
	}
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ec6952;
    outline: 0;
}

.border-bottom{
	border: 0px;
	border-bottom: 2px solid #ec6952;
}

.border-bottom:focus {
    border-color: #514156;
}

@media (max-width: 768px){
.mutualfund-heading {
	display:none;
}
}

@media (min-width: 768px){
.alt-mutualfund-heading {
	display:none;
}
}

.navbar-brand {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: 0.1em;
}
@media (min-width: 992px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
}
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

@media (max-width: 768px){
	#ivr{
		display: none;
	}
}

.icon {
  position: relative;
  display: inline-block;
  padding: 15px 70px;
  /* linear-gradient(180deg); */
  background-image: linear-gradient(rgba(177, 116, 97, 0.5), rgba(177, 116, 97, .5));
  background-position: 50% 50%;
  border-radius: 5px 5px 0px 0px;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .6s, color .6s;
}
.home-container:hover > .icon{
  background-size: 100% 100%;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
}

.home-container{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color:#fff;
	border: 0px;
	border-radius: 5px;
	transition: 0.3s ease-in-out;
	margin: 0px;
	padding: 20px;
	height: auto;
}

.home-container:hover {
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out;
}

.btn-transparent{
	color: #eee;
	background-color: transparent;
	border: 1px solid #eee;
	border-radius: 5px;
	font-weight:500;
	margin: 3px;
}

.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus {
	font-weight:500;
	color: #ec6952;
	background-color: transparent;
	border: 1px solid #ec6952;
	border-radius: 5px;
}

.container-width{
	width:70%;
}

@media screen and (max-width:768px){
	.container-width{
		width:100%;
	}
}

.center-text{
	text-align: left;
}

@media screen and (max-width:768px){
	.center-text{
		text-align: center;
	}
}

.hide-num{
	
}

.btn-gmail{
	padding-top:20px;
	padding-bottom:20px;
}

#gmail-invite-dialog .modal-dialog{
	max-width:400px;
}

#gmail-invite-dialog .modal-body{
	padding:0px;
	border:0px;
}

#gmail-invite-dialog .modal-body .list-group-item:first-child{
	border-top:0px;
}

#toggleCheckGmailInvites.checked i:before{
	content:'\f046';
}

#toggleCheckGmailInvites.unchecked i:before{
	content:'\f096';
}

.refer-image{
	height:300px;
}

.referral-container .request-card{
	min-height:300px;
}

.festival-lead {
    margin-bottom: 5px;
    font-size: 26px;
}

.share-card {
	background-color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom:15px;
}

.share-card-body {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.share-card-details {
    padding: 10px;
    padding-left: 15px;
}

.share-card-description{
    min-height:40px;
}

.share-card-title {
    font-size: 20px;
}

.share-buttons {
    margin: 15px;
    margin-top: 0px;
}
