body{
	background-image: url("../img/bg-intro.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	margin:0px;
}
body:before{
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}